.git
.github
.env
.env.backup
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
tests
docker-compose*.yml
README.md
